body{
font-family:Arial;
background:#111;
color:white;
width:320px;
padding:10px;
}

h2{
text-align:center;
color:#00ffaa;
}

button{
background:#00ffaa;
border:none;
padding:8px;
width:100%;
margin-top:8px;
cursor:pointer;
}

.box{
margin-top:10px;
}

.tools{
margin-top:10px;
}