body{
font-family: Arial;
width:350px;
padding:10px;
background:#111;
color:white;
}

h2{
text-align:center;
}

.section{
margin-top:10px;
padding:8px;
background:#1e1e1e;
border-radius:5px;
}

button{
margin-top:5px;
padding:6px;
width:100%;
background:#00ff88;
border:none;
cursor:pointer;
}

pre{
white-space:pre-wrap;
font-size:12px;
}